  <div class="one" id="howwework">

        <div class="container-fluid">
          <div class="text-center howwework">HOW WE WORK</div>
        </div>
        
        <div class="row center-block">
        <div class="col-sm-3 text-center concept">
          <div class="concept1">CONCEPT</div>
          <img src="/assets/howwework/concept.svg">
        </div>

        <div class="col-sm-3 text-center design">
            <div class="design1">DESIGN</div>
          <img src="/assets/howwework/design.svg">
        </div>

        <div class="col-sm-3 text-center develop">
            <div class="develop1">DEVELOP</div>
          <img src="/assets/howwework/develop.svg">
        </div>

        <div class="col-sm-3 text-center deploy">
            <div class="deploy1">DEPLOY</div>
          <img src="/assets/howwework/deploy.svg">
        </div>

      </div>
</div>
