    <nav class="my-navbar navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" routerLink="/">
                <img src="/assets/kodlogo.svg" alt="">
              </a>

          </div>
          <div class="collapse navbar-collapse align" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              
              <li><a href="#services">SERVICES</a></li>
              
              <li><a href="#industries">INDUSTRIES</a></li>
  
              <li><a href="#products">PRODUCTS</a></li>
          
              <li><a href="#ourteam">OUR TEAM</a></li>
          
              <li><a href="#contactus">CONTACT US</a></li>
            </ul>
            
          </div>
        </div>
</nav>
