<footer>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-3">
    <div class="container pull-left">
    <div class="col-sm-4">
        <a href="#home"><img src="assets/kodlogo.svg" class="logo-icon"></a>
        <a href="https://twitter.com/kodgarage" target="_blank"><img src="assets/footer/twitter.svg" class="twitter-icon"></a>
        <!-- <a href="" target="_blank"><img src="assets/footer/insta.svg" class="instagram-icon"></a> -->
        <a href="https://www.facebook.com/Kodgarage-855443504629550/" target="_blank"><img src="assets/footer/fb.svg" class="fb-icon"></a>
        <a href="https://www.linkedin.com/company/kodgarage/" target="_blank"><img src="assets/footer/linked.svg" class="linkedin-icon"></a>

        <div class="container">
            <div class="kodgarage2018">
                KODGARAGE © 2018
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-sm-2">
<div class="container pull-left">
    <div class="col-sm-3">
  <div class="Company-About-Us-Services-Work-With-Us-Contact list-group pull-left">
    <div style="color: #ff981a">Company</div>
    <div><a href="#ourteam">About Us</a></div>
    <div><a href="#services">Services</a></div>
    <div><a routerLink="/career">Work With Us</a></div>
    <div><a href="#contactus">Contact</a></div>
  </div>
</div>

     
    <div class="col-sm-3">
      <div class="KodGarageFeatures-Pricing-Blog-Community pull-left">
        <div style="color: #ff981a">Kodgarage</div>
        <div><a href="#howwework">Features</a></div>
        <div><a routerLink="/pricing">Pricing</a></div>
        <div><a routerLink="/blog">Blog</a></div>
        <div><a routerLink="/community">Community</a></div>
    </div>
</div>

    <div class="col-sm-4">
      <div class="Privacy-Privacy-Policy-Terms-and-Conditions-Websit text-left">
          <div style="color: #ff981a">Privacy</div>
          <div><a routerLink="/privacypolicy">Privacy Policy</a></div>
          <div><a routerLink="/termsconditions">Terms and Conditions</a></div>
          <div><a routerLink="/termsconditions">Website Terms of Use</a></div>
          <div><a routerLink="/privacypolicy">Cookie Policy</a></div>
      </div>
    </div>
</div>
</div>
</div>
</div>
</footer>
