<app-header></app-header>
<div class="bg">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center services">SERVICES</div>
    </div>
  </div>
</div>
  <div class="container">
  <div class="row">
    <div class="col-xs-5">
      <img src="/assets/industries/school_box.svg" class="marketplace pull-right">
    </div>
    <div class="col-xs-5">
      <div class="heading">SCHOOL</div>
      <div class="contents">Inside out. Through and through. When it comes to creative recruitment, 
        our 25 years of industry expertise means we truly understand what makes people 
        tick. But we’re not the only ones who’ll tell you we know our stuff.</div>
        <button class="learnmore">LEARN MORE</button>
    </div>
  </div>
  <!-- <div class="box"></div> -->
</div>
</div>
<app-footer></app-footer>
