<body id="products" data-aos="fade-in">
    <div class="container" data-aos="fade-in">
        <div class="text-center products" data-aos="fade-in">PRODUCTS</div>
       <div class="row">

        <div id="Carousel" class="carousel slide carousel-fade" data-interval="3000" data-ride="carousel" data-aos="fade-in">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#Carousel" data-slide-to="1"></li>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner" data-aos="fade-in">
            
                  <div class="item active">
                        <div class="text-left col-sm-8 visionapp">VISION</div>
                        <!-- <div class="col-sm-4"></div> -->
                        <div class="text-justify col-sm-6 vision">Inside out. Through and through. 
                          When it comes to creative recruitment, our 25 years of industry expertise means we 
                          truly understand what makes people tick. But we’re not the only ones who’ll tell you we know our stuff.
                          </div>
                          <div class="col-sm-6 visionimg img-responsive"><img src="assets/vision.svg" class=""></div>
                          <div class="col-sm-12"></div>
                         <a href="#contactus"><button class="pull-left col-sm-4 freetrail">RELEASING SOON</button></a>
                  </div>
            
                  <div class="item">
                    <div class="text-left col-sm-8 visionapp">ZIPPY</div>
                    <!-- <div class="col-sm-4"></div> -->
                    <div class="text-justify col-sm-6 vision">Inside out. Through and through. 
                      When it comes to creative recruitment, our 25 years of industry expertise means we 
                      truly understand what makes people tick. But we’re not the only ones who’ll tell you we know our stuff.
                      </div>
                      <div class="col-sm-6 visionimg img-responsive"><img src="assets/zippy.svg"></div>
                      <div class="col-sm-12"></div>
                      <a href="#contactus"><button class="pull-left col-sm-4 freetrail">GET EARLY ACCESS</button></a>
              </div>
              
                </div>
            
              </div>
            </div>
    </div>
</body>