@media (min-width: 1025px) {

.background{
  height: 900px;
  background-image: linear-gradient(190deg, #2d3947 0%, #111922 90%, #ffffff 10%);
  font-family: sansation;
}

.services{
  padding: 80px 0px 20px 0px ;
  font-family: Sansation;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e0e0e0;

}

.android{
  font-family: Sansation;
  padding: 20px 0px 0px 0px;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.wma{
  font-family: Sansation;
  font-size: 18px;
  font-weight: bold;
  /* position:relative; */
  padding: 20px 0px 0px 0px;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: 1px;
  color: #ffffff;
}

.getintouch{
  width: 190px;
  height: 45px;
  /* position: relative; */
  font-family: Sansation;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
  background-image: linear-gradient(110deg ,#ff8d00 0%, #ff8d00 0%, #ffc379 0%, #ff8d00 48%);
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 4px;
  margin: 50px 0px 0px 0px;
}

.getintouch:hover{
  opacity: 0.5;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active{
  border-radius: 50%;
  object-fit: contain;
  background-image: url("/assets/Ellipseactive.svg");
}


.carousel-indicators li{
  border: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  object-fit: contain;
  background-image: url("/assets/Ellipse.svg");
}

.carousel-indicators >li {
  bottom: -20px;
  padding: 0px 0px 10px 0px;
  /* letter-spacing: 20px; */
}

.carousel-indicators li, .carousel-indicators li.active {
  margin: 0px 10px !important;
}

/* .carousel-inner > .item {
  height: 73vh;
} */

/* .container{
  width: 900px;
} */

.carousel-inner{
  /* align-content: center; */
  width: 80%;
  min-height: 550px;
  /* width: auto; */
  margin: auto;
}

.carousel-inner>.item{
  height: 300px;
}


.androidimg{
  margin: -70px 0px 10px 0px;
  padding: 0px 0px 0px 100px;
  max-width: 100%;

}

.webimg{  
  margin: -80px 0px 0px 0px;
  padding: 0px 0px 0px 100px;
  max-width: 100%;

}

.contentimg{
  margin: -80px 0px 10px 0px;
  padding: 0px 0px 0px 100px;
  max-width: 100%;

}

.iosimg{
  margin: -70px 0px 0px 0px;
  padding: 0px 0px 0px 100px;
  max-width: 100%;

}

.marketingimg{
  margin: -70px 0px 0px 0px;
  padding: 0px 0px 0px 100px;
  max-width: 100%;
}

.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    /*z-index: 5 !important;*/
    /*display: inline-block !important;*/
    font-size: 2em;
}

/*fade effect on carousel*/
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}


div .carousel-caption {
    /*position: fixed !important;*/
    top: 40%;
    /*z-index: 5;
    display: inline-block !important;*/
}

/* Caption animation delays */
.toggleHeading {
    animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
     -moz-animation-delay: 0.5s;
       -o-animation-delay: 0.5s;
       -moz-transition: none !important;
}
.toggleCaption {
    animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
       -o-animation-delay: 1.5s;
       -moz-transition: none !important;
}

/* Caption animation delays */
.toggleHeading {
    animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
     -moz-animation-delay: 0.5s;
       -o-animation-delay: 0.5s;
       -moz-transition: none !important;
}
.toggleCaption {
    animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
       -o-animation-delay: 1.5s;
       -moz-transition: none !important;
}
/*Scroll down - circle button*/
.btn-circle {
    width: 75px;
    height: 75px;
    padding: 10px 10px;
    border: none;
    border-radius: 100%;
    font-size: 50px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
/*Animating the circle button*/ 
.scroll-down {
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    animation: Circlebounce 2s infinite;
    -webkit-animation: Circlebounce 2s infinite;
    -moz-animation: Circlebounce 2s infinite;
    -o-animation: Circlebounce 2s infinite;
}

@-webkit-keyframes Circlebounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes Circlebounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes Circlebounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes Circlebounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}

}


@media (max-width: 767px){
  .background{
    height: 750px;
    background-image: linear-gradient(190deg, #2d3947 0%, #111922 90%, #ffffff 10%);
    font-family: sansation;
  }

  .android{
    font-family: Sansation;
    padding: 10px 0px 0px 0px;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  .services{
    padding: 20px 0px 10px 0px ;
    font-family: Sansation;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e0e0e0;
  }

  .wma{
    height: 60px;
    font-family: Sansation;
    font-size: 16px;
    font-weight: bold;
    position:relative;
    padding: 10px 0px 0px 0px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #ffffff;
  }

  .androidimg>img{
    margin: 40px 0px 0px 0px;
    max-width: 50%;
    /* position: absolute;
    height: 170px;
    margin: 10px 0px 0px -70px;
    padding: 0px 0px 0px 0px; */
  
  }
  
  .webimg>img{
    /* padding: 100px 0px 0px 0px; */
    margin: 60px 0px 0px 0px;
    max-width: 60%;  
    /* position: absolute;
    height: 170px;
    margin: 25px 0px 0px -130px;
    padding: 0px 0px 0px 0px; */
  
  }
  
  .contentimg>img{
    margin: 60px 0px 0px 0px;
    max-width: 60%;
    /* position: absolute;
    height: 140px;
    margin: 25px 0px 0px -120px;
    padding: 0px 0px 0px 0px; */
  
  }
  
  .iosimg>img{
    margin: 40px 0px 0px 0px;
    max-width: 50%;
    /* position: absolute;
    height: 170px;
    margin: 40px 0px 0px -90px;
    padding: 0px 0px 0px 0px; */
  
  }
  
  .marketingimg>img{
    margin: 60px 0px 0px 0px;
    max-width: 60%;
    /* position: absolute;
    height: 170px;
    margin: 10px 0px 0px -110px;
    padding: 0px 0px 0px 0px; */
  }

  .carousel-indicators .active{
    border-radius: 50%;
    object-fit: contain;
    background-image: url("/assets/Ellipseactive.svg");
  }
  
  
  .carousel-indicators li{
    margin: 0px;
    border: none;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    object-fit: contain;
    background-image: url("/assets/Ellipse.svg");
  }
  
  .carousel-indicators >li {
    /* margin: 60px; */
    bottom: 0px;
    padding: 0px 0px 0px 0px;
    /* letter-spacing: 20px; */
  }
  
  .carousel-indicators li, .carousel-indicators li.active {
    margin: 0px 5px !important;
  }
  
  /* .carousel-inner > .item {
    height: 73vh;
  } */
  
  .carousel-inner > .item {
    min-height: 600px;
    /* width: auto; */
    margin: auto;
  }

  .getintouch{
    text-align: center;
    width: 190px;
    height: 40px;
    /* position: absolute; */
    font-family: Sansation;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
    background-image: linear-gradient(110deg ,#ff8d00 0%, #ff8d00 0%, #ffc379 0%, #ff8d00 48%);
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 4px;
    margin: -150px 0px 0px 0px;
  }
  
  .getintouch:hover{
    opacity: 0.5;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  }
    
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

