@media (min-width: 768px) and (max-width: 1024px) {
  
    .background{
      height: 800px;
      background-image: linear-gradient(190deg, #2d3947 0%, #111922 90%, #ffffff 10%);
      font-family: sansation;
    }
  
    .android{
      padding: 10px;
      font-family: Sansation;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1px;
      color: #ffffff;
    }
  
    .services{
      padding: 30px 0px 20px 0px ;
      font-family: Sansation;
      font-size: 70px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1px;
      color: #e0e0e0;
    }
  
    .wma{
      font-family: Sansation;
      font-size: 18px;
      font-weight: bold;
      position:relative;
      padding: 10px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0px;
      color: #ffffff;
    }
  
    .androidimg>img{
      /* position: absolute;
      height: 180px;
      margin: -80px 0px 0px -70px;
      padding: 0px 0px 0px 0px; */
      max-width: 80%;
    
    }
    
    .webimg>img{  
      /* position: absolute;
      height: 180px;
      margin: -80px 0px 0px -130px;
      padding: 0px 0px 0px 0px; */
      max-width: 80%;
    
    }
    
    .contentimg>img{
      /* position: absolute;
      height: 180px;
      margin: -80px 0px 0px -130px;
      padding: 0px 0px 0px 0px; */
      max-width: 80%;
    }
    
    .iosimg>img{
      /* position: absolute;
      height: 180px;
      margin: -80px 0px 0px -70px;
      padding: 0px 0px 0px 0px; */
      max-width: 80%;
    }
    
    .marketingimg>img{
      /* position: absolute;
      height: 180px;
      margin: -80px 0px 0px -110px;
      padding: 0px 0px 0px 0px; */
      max-width: 80%;
    }
  
    .carousel-indicators .active{
      border-radius: 50%;
      object-fit: contain;
      background-image: url("/assets/Ellipseactive.svg");
    }
    
    
    .carousel-indicators li{
      margin: 0px;
      border: none;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      object-fit: contain;
      background-image: url("/assets/Ellipse.svg");
    }
    
    .carousel-indicators >li {
      /* margin: 60px; */
      bottom: 0px;
      padding: 0px 0px 0px 0px;
      /* letter-spacing: 20px; */
    }
    
    .carousel-indicators li, .carousel-indicators li.active {
      margin: 0px 10px !important;
    }
    
    /* .carousel-inner > .item {
      height: 73vh;
    } */
    
    .carousel-inner{
      min-height: 500px;
      width: 85%;
      margin: auto;
    }

    .carousel-inner>.item{
      height: 350px;
    }
  
    .getintouch{
      width: 190px;
      height: 40px;
      /* position: relative; */
      font-family: Sansation;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #ffffff;
      background-image: linear-gradient(110deg ,#ff8d00 0%, #ff8d00 0%, #ffc379 0%, #ff8d00 48%);
      box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
      border: none;
      border-radius: 4px;
      margin: -40px 0px 0px 10px;
    }
    
    .getintouch:hover{
      opacity: 0.5;
      box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    }
    
  }