<body id=industries>
    
 
                <div class="col-sm-12 text-center industries" data-aos="fade">INDUSTRIES</div>
 
<div class="container-fluid">
        <div class="row center-block">

                <div class="col-sm-4" data-aos="fade">
                    <div class="card center-block">
                           <a href="/ecommerce"> <img src="/assets/industries/e-commerce.svg" class="market center-block">
                            <div class="middle">
                                    <div class="text6">
                                          <img src="/assets/industries/e-commerceclr.svg" class="center-block">
                                    </div></div>
                            <div class="container-fluid text-center" style="color: #ffffff">
                                    <div class="industry">e-commerce</div>
                                </div></a>
                          </div>
            </div>

            <div class="col-sm-4" data-aos="fade">
                        <div class="card center-block">
                               <a href="/healthcare"> <img src="/assets/industries/healthcare.svg" class="market center-block">
                                <div class="middle">
                                        <div class="text7">
                                              <img src="/assets/industries/healthcareclr.svg" class="center-block">
                                        </div></div>
                                <div class="container-fluid text-center" style="color: #ffffff">
                                        <div class="industry">healthcare</div>
                                    </div></a>
                              </div>
                </div>

                <div class="col-sm-4" data-aos="fade">
                                <div class="card center-block">
                                       <a href="/education"> <img src="/assets/industries/education.svg" class="market center-block">
                                        <div class="middle">
                                                <div class="text3">
                                                        <img src="/assets/industries/educationclr.svg" class="center-block">
                                                </div>
                                        </div>
                                        <div class="container-fluid text-center" style="color: #ffffff">
                                                <div class="industry">education</div>
                                        </div></a>
                                </div>
                </div>

                <div class="col-sm-4 ">
                                <div class="card center-block">
                                       <a href="/realestate"> <img src="/assets/industries/realestate.svg" class="market center-block">
                                        <div class="middle">
                                                <div class="text9">
                                                      <img src="/assets/industries/realestateclr.svg" class="center-block">
                                                </div></div>
                                        <div class="container-fluid text-center" style="color: #ffffff">
                                                <div class="industry">real estate</div>
                                            </div></a>
                                      </div>
                </div>

                <div class="col-sm-4 ">
                                <div class="card center-block">
                                       <a href="/school"> <img src="/assets/industries/school.svg" class="market center-block">
                                        <div class="middle">
                                                <div class="text5">
                                                      <img src="/assets/industries/schoolclr.svg" class="center-block">
                                                </div></div>
                                        <div class="container-fluid text-center" style="color: #ffffff">
                                                <div class="industry">Governance</div>
                                            </div></a>
                                      </div>
                </div>

                <div class="col-sm-4">
                                <div class="card center-block">
                                       <a href="/social"> <img src="/assets/industries/social.svg" class="market center-block">
                                        <div class="middle">
                                                <div class="text2">
                                                      <img src="/assets/industries/socialclr.svg" class="center-block">
                                                </div></div>
                                        <div class="container-fluid text-center" style="color: #ffffff">
                                            <div class="industry">social</div>
                                       </div></a>
                                      </div>
                        </div>

            <div class="col-sm-4">
                   <div class="card center-block">
                        <a href="/marketplace"><img src="/assets/industries/marketplace.svg" class="market center-block">
                            <div class="middle">
                                    <div class="text1">
                                          <img src="/assets/industries/marketplaceclr.svg" class="center-block">
                                    </div>
                                </div>
                            <div class="container-fluid text-center" style="color: #ffffff">
                                <div class="industry">Market place</div>
                            </div></a>
                          </div>
                        
            </div>
        
            <div class="col-sm-4 ">
                    <div class="card center-block">
                           <a href="/foodordering"> <img src="/assets/industries/foodordering.svg" class="market center-block">
                            <div class="middle">
                                    <div class="text4">
                                          <img src="/assets/industries/foodorderingclr.svg" class="center-block">
                                    </div></div>
                            <div class="container-fluid text-center" style="color: #ffffff">
                                    <div class="industry">food ordering</div>
                                </div></a>
                          </div>
            </div>

            <div class="col-sm-4 ">
                    <div class="card center-block">
                           <a href="/taxi"> <img src="/assets/industries/taxi.svg" class="market center-block">
                            <div class="middle">
                                    <div class="text8">
                                          <img src="/assets/industries/taxiclr.svg" class="center-block">
                                    </div></div>
                            <div class="container-fluid text-center" style="color: #ffffff">
                                    <div class="industry">taxi</div>
                                </div></a>
                          </div>
            </div>
            
        </div>
    </div>
</body>