<body id="ourteam">
    <div class="container-fluid">
        <div class="text-center ourteam">OUR TEAM</div>
    </div>

<div class="container pull-left">

        <div class="harish1">
            <!-- <div class="image2">
            <img src="assets/team/harish.svg">
        </div> -->
        <div class="box">
                <div class="harish">HARISH<br>GUPTA</div>
                <div class="xdev">X Dev</div>
            </div>
        <div class="middle2">
        <div class="text2">
                <div class="headpart"><strong>HARISH GUPTA</strong></div><hr>
                <div>Taking up the challenges and doing the high-five after the completion is what he loves. True entrepreneur 
                and ready to take in the lead in coding hacks. His exceptional troubleshooting skills is the real 
                solutions to many problems. He is the Dev X.  </div>      
        </div>
    </div>
    </div>

        <div class="samar1">
            <!-- <div class="image3">
            <img src="assets/team/samar.svg">
        </div> -->
        <div class="box">
            <div class="samar">SAMAR<br>PATTANAYAK</div>
            <div class="mafia">Frontend<br>Mafia</div>
        </div>
            <div class="middle3">
                <div class="text3">
                        <div class="headpart"><strong>SAMAR PATTANAYAK</strong></div><hr>
                        The guy makes what you feel and see. The front liner who is the key stakeholder for your entire 
                        customer acquisition. He makes the customer believe with his mind blogging design to product 
                        realization. He is the true Jam.        
                </div>
    </div>
    </div>

        <div class="merve1">
            <!-- <div class="image4">
            <img src="assets/team/merve.svg">
        </div> -->
        <div class="box">
        <div class="merve">MERVE<br>TABAKCIOGLU</div>
        <div class="designer">Marvellous<br>Designer</div>
    </div>
        <div class="middle4">
                <div class="text4">
                        <div class="headpart"><strong>MERVE TABAKCIOGLU</strong></div><hr>
                        Improving upon her own work and continuously upgrade herself is what she does all the time. With 
                        the passion for teaching, profession with the design and wanderlust by nature, she is the talent 
                        that brings the light to your dead wireframes. She is the marvel.         
                </div>
    </div>
    </div>

        <div class="tamim1">
        <!-- <div class="image5">
            <img src="assets/team/tamim.svg">
        </div> -->
        <div class="box">
        <div class="tamim">TAMIM<br>AHMED</div>
        <div class="king">Mobility<br>King</div>
    </div>
        <div class="middle5">
                <div class="text5">
                        <div class="headpart"><strong>TAMIM AHMED</strong></div><hr>
                        Calm, quiet with mind sparkling like the Robo Cope. With the intelligent in building the 
                        complex mobile applications, he is the true master of his own territory. He is the crazy 
                        fan of Cricket and working late night is the hobby. King of mobility solution.        
                </div>
    </div>
    </div>

    <div class="digi1">
        <!-- <div class="image1">
            <img src="assets/team/digi.svg">
        </div> --><div class="box">
        <div class="dig">DIGVIJAYA<br>SWAIN</div>
        <div class="freak">Product<br>Freak</div>
    </div>
    <div class="middle1">
            <div class="text1">
                <div class="headpart"><strong>DIGVIJAYA SWAIN</strong></div><hr>
                    Done right is the only mantra that he follows. With the experience in building 
                    the world class products, he is a freak for the product design and user experience. With the 
                    customer on top priority, his intention is to build the technology solutions for the left 
                    behind customers who can’t afford the high cost SAAS.             
                </div>
        </div>
    </div>

</div>
</body>