@media (max-width: 767px){

    body, html {
        height: 1900px;
        margin: 0;
        background-image: linear-gradient(195deg, #ffffff 7%, #2d3947 0%, #111922 98%);
        background-size: 100%;
        font-family: sansation;
    }

    .ourteam{
        padding: 150px 0px 10px 0px;
        font-family: Sansation;
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #e0e0e0;
    }

    .box{
        margin: 0px 0px 0px 10px;
        background-color: #2d3947;
        text-align: center;
        height: 100px;
        width: 150px;
        box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    .digi1 {
        position: absolute;
        width: 40px;
        /* padding: 0px 0px 0px 0px; */
        margin: 20px 0px 0px 30px ;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    
    .harish1 {
        position: absolute;
        width: 40px;
        margin: 340px 0px 0px 40px ;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    
    .samar1 {
        position: absolute;
        width: 40px;
        margin: 620px 0px 0px 30px ;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    
    .merve1 {
        position: absolute;
        width: 40px;
        margin: 920px 0px 0px 30px ;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    
    .tamim1 {
        position: absolute;
        width: 40px;
        margin: 1240px 0px 0px 30px ;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    .dig{
        position: relative;
        /* left: 220px; */
        top: 10px;
        font-family: Sansation;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #828282;
    }
    
    .freak{
        position: relative;
        /* left: 220px; */
        top: 20px;
        font-family: Syncopate;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fc9616;
    }
    
    .harish{
        position: relative;
        /* left: 160px; */
        top: 10px;
        font-family: Sansation;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #828282
    }
    
    .xdev{
        position: relative;
        top: 20px;
        /* left: 160px; */
        font-family: Syncopate;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fc9616;
    }
    
    .samar{
        position: relative;
        top: 10px;
        /* left: 200px; */
        font-family: Sansation;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #828282;
    }
    
    .mafia{
        position: relative;
        top: 20px;
        /* left: 200px; */
        font-family: Syncopate;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fc9616;
    }
    
    .merve{
        position: relative;
        top: 10px;
        /* left: 180px; */
        font-family: Sansation;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #828282;
    }
    
    .designer{
        position: relative;
        top: 20px;
        /* left: 180px;     */
        font-family: Syncopate;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fc9616;
    }
    
    .tamim{
        position: relative;
        top: 10px;
        /* left: 190px; */
        font-family: Sansation;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #828282;
    }
    
    .king{
        position: relative;
        top: 20px;
        /* left: 190px; */
        font-family: Syncopate;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fc9616;
    }

    .headpart{
        display: none;
    }

    .text1>hr{
        display: none;
    }

    .text2>hr{
        display: none;
    }

    .text3>hr{
        display: none;
    }

    .text4>hr{
        display: none;
    }

    .text5>hr{
        display: none;
    }
      

    .text1 {
        text-align: justify;
        position: relative;
        top: 20px;
        left: -35px;
        height: 0px;
        width: 340px;
        color: white;
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        letter-spacing: 1px; 
    }
    
    .text2 {
        text-align: justify;
        position: relative;
        top: 20px;
        left: -45px;
        height: 0px;
        width: 340px;
        color: white;
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        letter-spacing: 1px; 
    
    }
    
    .text3 {
        text-align: justify;
        position: relative;
        top: 20px;
        left: -35px;
        height: 0px;
        width: 340px;
        color: white;
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        letter-spacing: 1px; 
    
    }
    
    .text4 {
        text-align: justify;
        position: relative;
        top: 20px;
        left: -35px;
        height: 0px;
        width: 340px;
        color: white;
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        letter-spacing: 1px; 
    
    }
    
    .text5 {
        text-align: justify;
        position: relative;
        top: 20px;
        left: -35px;
        height: 0px;
        width: 340px;
        color: white;
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        letter-spacing: 1px;     
    }
    
      


}

