<body id="home">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <h1 class="symbol"><p class="w3-animate-top new col-xs-12 text-left">< >
      </p></h1>
      <h3><p class="w3-animate-left new col-xs-12 text-left text-uppercase">Don’t know about the technology?</p></h3>
      <h1><p class="w3-animate-right new col-xs-12 text-left text-uppercase">We will build your dream.</p></h1>

      <a href="#contactus"><button class="w3-animate-zoom col-xs-6 btn-group">GET IN TOUCH</button></a>
    </div>
  </div>
</body>

<app-services></app-services>
<app-products></app-products>
<app-industries></app-industries>
<app-howwework></app-howwework>
<app-ourteam></app-ourteam>
<app-contactus></app-contactus>
<app-footer></app-footer>